<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <link type="text/css" rel="stylesheet" href="assets/pilcrow.css" />
    <link type="text/css" rel="stylesheet" href="assets/hljs-github.min.css" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110647385-1"></script>
    <script type="text/javascript">
      var LANGUAGE = 'es'

      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-110647385-1')
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  </head>
  <body>
    <div class="parcel2-note">
      <em>Nota:</em> Está página habla de Parcel 1, la documentación para Parcel 2 aún se tiene que escribir.
    </div>
    <header>
      <a class="logo" href="/">
        <img
          class="parcel"
          src="assets/parcel.png"
          srcset="assets/parcel@2x.png 2x, assets/parcel@3x.png 3x"
          height="30"
        />
        <img class="type" src="assets/logo.svg" alt="Parcel" />
      </a>
      <div class="links">
        <div class="search-input-wrapper">
          <input type="text" id="search-input" class="search-input" placeholder="Buscar..." />
        </div>
        <form class="languages">
          <select
            class="language-dropdown"
            onchange="location = this.options[this.selectedIndex].value + location.pathname;"
          >
            <option class="en" value="https://en.parceljs.org">English</option>
            <option class="es" value="https://es.parceljs.org" selected>Español</option>
            <option class="fr" value="https://fr.parceljs.org">Français</option>
            <option class="it" value="https://it.parceljs.org">Italiano</option>
            <option class="ja" value="https://ja.parceljs.org">日本語</option>
            <option class="ko" value="https://ko.parceljs.org">한국어</option>
            <option class="pl" value="https://pl.parceljs.org">Polski</option>
            <option class="pt" value="https://pt.parceljs.org">Português</option>
            <option class="ru" value="https://ru.parceljs.org">Русский</option>
            <option class="uk" value="https://uk.parceljs.org">Українська</option>
            <option class="zh" value="https://zh.parceljs.org">简体中文</option>
            <option class="zh-tw" value="https://zh-tw.parceljs.org">繁體中文</option>
          </select>
        </form>
        <a href="https://github.com/parcel-bundler/parcel" target="_blank">GitHub</a>
        <a href="https://cottonbureau.com/products/parcel-t-shirt" target="_blank">👕 Tienda</a>
      </div>
    </header>
    <div class="content">
      <nav>
        <h3>Empezar</h3>
        <ul>
          <li><a href="getting_started.html">🚀 Empezar</a></li>
          <li><a href="assets.html">📦 Recursos</a></li>
          <li><a href="transforms.html">🐠 Conversiones</a></li>
        </ul>
        <h3>Características</h3>
        <ul>
          <li><a href="code_splitting.html">✂️ Separación de código</a></li>
          <li><a href="hmr.html">🔥 Reemplazo de módulos en caliente</a></li>
          <li><a href="production.html">✨ Producción</a></li>
          <li><a href="recipes.html">🍰 Recetas</a></li>
        </ul>
        <h3>Advanced</h3>
        <ul>
          <li><a href="how_it_works.html">🛠 Cómo funciona</a></li>
          <li><a href="asset_types.html">📝 Tipos de recursos</a></li>
          <li><a href="packagers.html">📦 Empaquetadores</a></li>
          <li><a href="plugins.html">🔌 plugins</a></li>
        </ul>
      </nav>
      <main>
        {{~> content}}

        <h2>Ayudanos a mejorar la documentación</h2>
        <p>
          Si hay algo que falta o no está del todo bien explicado
          <a href="https://github.com/parcel-bundler/website/issues">abre un issue en el repositorio de la página</a> o
          <a href="https://github.com/parcel-bundler/website/edit/master/src/i18n/{{ language }}/docs/{{ relative }}"
            >edita esta página</a
          >.
        </p>
      </main>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      ;(function() {
        var pathname = window.location.pathname.substr(1)
        var activeLink = document.querySelector('a[href="' + pathname + '"]')

        activeLink.classList.add('selected')

        docsearch({
          apiKey: '8b6be780425a72d1a1683abea2636778',
          indexName: 'parceljs',
          inputSelector: '#search-input',
          algoliaOptions: {
            facetFilters: [`lang:${LANGUAGE}`]
          }
        })
      })()
    </script>
  </body>
</html>
