<button id="color-scheme-toggle" title="Toggle color scheme">
  <svg aria-hidden="true" viewBox="0 0 100 100">
  	<mask id="color-scheme-toggle-mask">
  		<rect x="0" y="0" width="100" height="100" fill="white" />
  		<circle cx="70" cy="40" r="30" fill="black" class="small-circle" />
		</mask>

		<circle
			cx="50"
			cy="50"
			r="45"
			stroke="currentColor" stroke-width="8" stroke-dasharray="4 31" stroke-linecap="round" fill="transparent"
			fill="currentColor"
			class="sun-rays"
		/>

  	<circle
  		cx="50"
  		cy="50"
			r="45"
  		fill="currentColor"
  		mask="url(#color-scheme-toggle-mask)"
  		class="big-circle"
		/>
  </svg>
</button>
