<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if summary %}
    <meta name="description" content="{{ summary }}" />
    {% endif %}
    <title>
      {{ title | default(eleventyNavigation.title) |
      default(eleventyNavigation.key) | striptags | safe }}
    </title>
    <link href="/assets/reset.css" rel="stylesheet" />
    <script>
      {% include "darkmode.js" %}
    </script>
    <link href="/doc-styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="parcel-docs-header">
      <a class="logo" href="/">
        <img
          class="parcel"
          src="/assets/parcel.png"
          srcset="/assets/parcel@2x.png 2x"
          width="38"
          height="30"
          alt=""
        />
        <img
          class="type"
          src="/assets/logo.svg"
          alt="Parcel"
          width="300"
          height="160"
        />
      </a>
      <div class="search-container">
        <label for="search-input" class="visually-hidden">Search</label>
        <input type="text" id="search-input" placeholder="Search..." />
      </div>
      <div class="social-links">
        <a href="https://github.com/parcel-bundler/parcel">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>
              GitHub
            </title>
            <path
              d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"
            />
          </svg>
        </a>
      </div>
      {% include "darkmode.html" %}
    </header>
    <div class="content-scroll">
      <div id="content" class="content-container">
        <nav class="sidebar">
          {%- for tag in tagOrder -%}
          <ul>
            <li>{{ tag }}</li>
            <li>
              {{ collections[tag] | eleventyNavigation |
              eleventyNavigationToHtml({ listItemHasChildrenClass: 'section',
              activeListItemClass: 'current', activeKey:
              eleventyNavigation.key}) | safe }}
            </li>
          </ul>
          {%- endfor -%}
        </nav>

        <main class="main-content">
          <header>
            <h1>
              {{ title | default(eleventyNavigation.title) |
              default(eleventyNavigation.key) | safe }}
            </h1>
            {% if summary %}
            <p class="summary">{{ summary }}</p>
            {% endif %}
          </header>

          {{ content | safe }}

          <footer>
            <i>
              <a
                href="https://github.com/parcel-bundler/website/blob/v2/{{ page.inputPath }}"
                style="float: right;"
                >Edit this page on GitHub</a
              >
            </i>
          </footer>
        </main>
      </div>
    </div>

    <script>
      document
        .querySelector("#color-scheme-toggle")
        .addEventListener("click", () => {
          isDarkMode = !isDarkMode;
          sessionStorage.setItem("isDarkMode", isDarkMode);
          updateMode(isDarkMode);
        });
    </script>
  </body>
</html>
