---
layout: layout.njk
title: Parcel Plugin Search
tags: Features
eleventyNavigation:
  key: features-plugin-search
  title: 🔍 Plugin Search
  order: 12
---

<div id="root"></div>
<script src="/plugin-browser/index.js" type="module"></script>
