html {
  height: 100%;
  font-size: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background: #fefefe;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.parcel2-note {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  background: #21374b;
  color: #e7dacb;
  text-align: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #21374b;
  color: #e7dacb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 500;
  font-family: 'Gill Sans', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header .logo {
  display: inline-block;
  padding: 0 15px;
}

header .logo .parcel {
  margin-top: 5px;
  margin-right: 5px;
}

header .logo .type {
  width: 120px;
}

header .links {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

header .links a {
  color: #e7dacb;
  text-decoration: none;
  padding-left: 20px;
  transition: color 125ms;
}

header .links a:hover {
  color: #27ae60;
}

.language-dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: right;
  outline: none;
}

.language-dropdown:hover,
.language-dropdown:focus,
.language-dropdown option {
  color: #27ae60;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 1em;
}

.search-input {
  display: inline-block;
  padding: 2px 8px;
  width: 90px;
  border: none;
  border-radius: 50px;
  font-family: 'Gill Sans', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: inherit;
  margin: 0 20px;
  transition: all 250ms;
  background: rgba(255, 255, 255, 0);
  color: #e7dacb;
}

.search-input::placeholder {
  color: #e7dacb;
}

.search-input:hover {
  background: rgba(255, 255, 255, 0.1);
}

.search-input:focus {
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

nav {
  width: 250px;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-right: 1px solid #eee;

  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  height: calc(100vh - 50px - 2em);
  top: calc(50px + 1em);
  overflow: hidden;
  overflow-y: scroll;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  display: block;
  padding: 0.2em;
  margin-bottom: 3px;
  border-radius: 3px 0 0 3px;
}

nav ul li a img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

nav ul li a:hover {
  background: #f8f8f8;
}

nav ul li a.selected {
  background: #eee;
}

nav h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.7;
  margin-top: 3em;
}

main {
  flex: 1;
  max-width: 42em;
  margin: 0 auto;
}

a {
  color: #0645ad;
  text-decoration: none;
}
a:visited {
  color: #0645ad;
}
a:hover {
  color: #06e;
}
a:active {
  color: #faa700;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #111;
  line-height: 1em;
  font-family: 'Gill Sans', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  color: #000;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.98em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
}

p code {
  font-size: 0.95em;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0 0.2em;
  display: inline-block;
}

p a code {
  color: #0645ad;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
li p:last-child {
  margin: 0;
}
dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 952px) {
  .content {
    flex-direction: column;
    width: auto;
  }

  header {
    position: static;
  }

  nav {
    position: static;
    width: 100%;
    height: auto;
    background: white;
    border-right: none;
    border-bottom: 1px solid #eee;
    overflow-y: hidden;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 42em;
    margin: 1em auto;
  }

  nav ul li a {
    border-radius: 3px;
    margin-bottom: 5px;
  }

  nav h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: auto;
    display: block;
    position: relative;
  }

  header .logo {
    padding: 10px 15px;
  }

  header .logo .parcel {
    height: 26px;
  }

  header .logo .type {
    width: 100px;
  }

  header .links {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background: #2e4e6b;
    justify-content: space-around;
  }

  .language-dropdown,
  header .links a {
    padding: 0;
    font-size: 16px;
  }

  .search-input-wrapper {
    position: absolute;
    top: 17px;
    right: 0;
  }

  .search-input {
    width: 125px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
  }

  .search-input:focus {
    width: 125px;
  }
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  nav {
    display: none;
  }
  body {
    font-size: 12pt;
    max-width: 100%;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }
  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
