<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <link type="text/css" rel="stylesheet" href="assets/pilcrow.css" />
    <link type="text/css" rel="stylesheet" href="assets/hljs-github.min.css" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110647385-1"></script>
    <script type="text/javascript">
      var LANGUAGE = 'ja'

      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-110647385-1')
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <img
          class="parcel"
          src="assets/parcel.png"
          srcset="assets/parcel@2x.png 2x, assets/parcel@3x.png 3x"
          height="30"
        />
        <img class="type" src="assets/logo.svg" alt="Parcel" />
      </a>
      <div class="links">
        <div class="search-input-wrapper">
          <input type="text" id="search-input" class="search-input" placeholder="Search..." />
        </div>
        <form class="languages">
          <select
            class="language-dropdown"
            onchange="location = this.options[this.selectedIndex].value + location.pathname;"
          >
            <option class="en" value="https://en.parceljs.org" selected>English</option>
            <option class="es" value="https://es.parceljs.org">Español</option>
            <option class="fr" value="https://fr.parceljs.org">Français</option>
            <option class="it" value="https://it.parceljs.org">Italiano</option>
            <option class="ja" value="https://ja.parceljs.org" selected>日本語</option>
            <option class="ko" value="https://ko.parceljs.org">한국어</option>
            <option class="pl" value="https://pl.parceljs.org">Polski</option>
            <option class="pt" value="https://pt.parceljs.org">Português</option>
            <option class="ru" value="https://ru.parceljs.org">Русский</option>
            <option class="uk" value="https://uk.parceljs.org">Українська</option>
            <option class="zh" value="https://zh.parceljs.org">简体中文</option>
            <option class="zh-tw" value="https://zh-tw.parceljs.org">繁體中文</option>
          </select>
        </form>
        <a href="https://github.com/parcel-bundler/parcel" target="_blank">GitHub</a>
        <a href="https://cottonbureau.com/products/parcel-t-shirt" target="_blank">👕 Store</a>
      </div>
    </header>
    <div class="content">
      <nav>
        <h3>はじめに</h3>
        <ul>
          <li><a href="getting_started.html">🚀 はじめに</a></li>
          <li><a href="assets.html">📦 アセット</a></li>
          <li><a href="transforms.html">🐠 Transforms</a></li>
        </ul>
        <h3>Features</h3>
        <ul>
          <li><a href="code_splitting.html">✂️ Code Splitting</a></li>
          <li><a href="hmr.html">🔥 Hot Module Replacement</a></li>
          <li><a href="production.html">✨ Production</a></li>
          <li><a href="cli.html">🖥 CLI</a></li>
          <li><a href="recipes.html">🍰 Recipes</a></li>
          <li><a href="env.html">🌳 環境変数</a></li>
          <li><a href="module_resolution.html">📔 Module Resolution</a></li>
        </ul>
        <h3>📦 Asset Types</h3>
        <ul>
          <li>
            <a href="javascript.html"><img src="assets/icon-javascript.svg" />JavaScript</a>
          </li>
          <li>
            <a href="reasonML.html"><img src="assets/icon-reason-ml.svg" />ReasonML</a>
          </li>
          <li>
            <a href="css.html"><img src="assets/icon-css.svg" />CSS</a>
          </li>
          <li>
            <a href="scss.html"><img src="assets/icon-sass.svg" />SCSS</a>
          </li>
          <li>
            <a href="less.html"><img src="assets/icon-less.svg" />LESS</a>
          </li>
          <li>
            <a href="stylus.html"><img src="assets/icon-stylus.svg" />Stylus</a>
          </li>
          <li>
            <a href="html.html"><img src="assets/icon-html5.svg" />HTML</a>
          </li>
          <li>
            <a href="typeScript.html"><img src="assets/icon-typescript.svg" />TypeScript</a>
          </li>
          <li>
            <a href="coffeeScript.html"><img src="assets/icon-coffeescript.svg" />CoffeeScript</a>
          </li>
          <li>
            <a href="vue.html"><img src="assets/icon-vuejs.svg" />Vue</a>
          </li>
          <li>
            <a href="json.html"><img src="assets/icon-json.svg" />JSON</a>
          </li>
          <li>
            <a href="graphQL.html"><img src="assets/icon-graphql.svg" />GraphQL</a>
          </li>
          <li>
            <a href="rust.html"><img src="assets/icon-rust.svg" />Rust</a>
          </li>
          <li>
            <a href="webAssembly.html"><img src="assets/icon-webassembly.svg" />WebAssembly</a>
          </li>
          <li>
            <a href="elm.html"><img src="assets/icon-elm.svg" />Elm</a>
          </li>
          <li>
            <a href="yaml.html"><img src="assets/icon-yaml.svg" />YAML</a>
          </li>
          <li>
            <a href="toml.html"><img src="assets/icon-toml.svg" />TOML</a>
          </li>
          <li>
            <a href="openGL.html"><img src="assets/icon-openGL.svg" />OpenGL</a>
          </li>
          <li>
            <a href="pug.html"><img src="assets/icon-pug.svg" />Pug</a>
          </li>
          <li><a href="webManifest.html">WebManifest</a></li>
        </ul>
        <h3>Advanced</h3>
        <ul>
          <li><a href="how_it_works.html">🛠 仕組み</a></li>
          <li><a href="asset_types.html">📝 Asset Types</a></li>
          <li><a href="plugins.html">🔌 Plugins</a></li>
          <li><a href="packagers.html">📦 Packagers</a></li>
          <li><a href="api.html">📚 Bundler API</a></li>
        </ul>
      </nav>
      <main>
        {{~> content}}

        <h2>Help us improve the docs</h2>
        <p>
          If something is missing or not entirely clear, please
          <a href="https://github.com/parcel-bundler/website/issues">file an issue on the website repository</a> or
          <a href="https://github.com/parcel-bundler/website/edit/master/src/i18n/{{ language }}/docs/{{ relative }}"
            >edit this page</a
          >.
        </p>
      </main>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      ;(function() {
        var pathname = window.location.pathname.substr(1)
        var activeLink = document.querySelector('a[href="' + pathname + '"]')

        activeLink.classList.add('selected')

        docsearch({
          apiKey: '8b6be780425a72d1a1683abea2636778',
          indexName: 'parceljs',
          inputSelector: '#search-input',
          algoliaOptions: {
            facetFilters: [`lang:${LANGUAGE}`]
          }
        })
      })()
    </script>
  </body>
</html>
