<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="assets/style.css" />
  <link type="text/css" rel="stylesheet" href="assets/pilcrow.css" />
  <link type="text/css" rel="stylesheet" href="assets/hljs-github.min.css"/>
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110647385-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110647385-1');
  </script>-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6b5f065a80e0af3ff54139cf0ae94d47";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>    
</head>
<body>
  <header>
    <a class="logo" href="/">
      <img class="parcel" src="assets/parcel.png" srcset="assets/parcel@2x.png 2x, assets/parcel@3x.png 3x" height="30">
      <img class="type" src="assets/logo.svg" alt="Parcel">
    </a>
    <div class="links">
      <div class="language-dropdown">
        <span>🇨🇳</span>
        <ul>
          <li><a href="https://en.parceljs.org">🇺🇸</a></li>
          <li><a href="https://ko.parceljs.org">🇰🇷</a></li>
        </ul>
      </div>
      <a href="https://github.com/parcel-bundler/parcel" target="_blank">GitHub</a>
    </div>
  </header>
  <div class="content">
    <nav>
      <ul>
        <li><a href="getting_started.html">🚀 快速开始</a></li>
        <li><a href="assets.html">📦 资源</a></li>
        <li><a href="transforms.html">🐠 转换</a></li>
        <li><a href="code_splitting.html">✂️ 代码拆分</a></li>
        <li><a href="hmr.html">🔥 热模块替换</a></li>
        <li><a href="production.html">✨ 生产环境</a></li>
        <li><a href="recipes.html">🍰 配方</a></li>
      </ul>
      <h3>进阶</h3>
      <ul>
        <li><a href="how_it_works.html">🛠 它如何运作</a></li>
        <li><a href="asset_types.html">📝 资源类型</a></li>
        <li><a href="packagers.html">📦 Packagers</a></li>
        <li><a href="plugins.html">🔌 插件</a></li>
      </ul>
    </nav>
    <main>
      {{~> content}}
    </main>
  </div>
  <script>
    (function () {
      var activeLink = Array.from(document.querySelectorAll('nav a')).find(function (a) {
        return a.href === window.location.href;
      });

      activeLink.classList.add('selected');
    })();
  </script>
</body>
</html>
