---
layout: layout.njk
title: Parcel Documentation
---

<h2>Getting started</h2>
<p>Learn how to start a new project, or migrate an existing project to Parcel 2.</p>

<div class="grid sm:grid-cols-3 gap-3 max-w-5xl">
  <a href="/getting-started/webapp/" class="card bg-gradient-to-r from-blue-200 to-purple-200 dark:from-blue-800 dark:to-purple-800 dark:text-white p-5 rounded-xl transform hover:scale-105 transition">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Building a webapp with Parcel</div>
    <div>Learn how to set up a new web application from scratch with Parcel.</div>
  </a>
  <a href="/getting-started/library/" class="card bg-gradient-to-r from-purple-200 to-pink-200 dark:from-purple-800 dark:to-pink-800 dark:text-white p-5 rounded-xl transform hover:scale-105 transition">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Building a library with Parcel</div>
    <div>Learn how to set up a Parcel to build a JavaScript library.</div>
  </a>
  <a href="/getting-started/migration/" class="card bg-gradient-to-r from-pink-200 to-orange-200 dark:from-pink-800 dark:to-orange-800 dark:text-white p-5 rounded-xl transform hover:scale-105 transition">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Migration</div>
    <div>Migrate an existing project from Parcel 1 to Parcel 2.</div>
  </a>
</div>

<h2>Features</h2>
<p>Learn about Parcel's core features.</p>

<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 max-w-5xl">
  <a href="/features/development/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
      </svg>
      <div class="font-bold text-lg">Development</div>
    </div>
    <div>Learn about Parcel's dev server, hot reloading, lazy mode, caching, and more.</div>
  </a>
  <a href="/features/code-splitting/" class="card bg-gradient-to-r from-purple-200 to-violet-200 dark:from-purple-800 dark:to-violet-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 14.121L19 19m-7-7l7-7m-7 7l-2.879 2.879M12 12L9.121 9.121m0 5.758a3 3 0 10-4.243 4.243 3 3 0 004.243-4.243zm0-5.758a3 3 0 10-4.243-4.243 3 3 0 004.243 4.243z" />
      </svg>
      <div class="font-bold text-lg">Code Splitting</div>
    </div>
    <div>How to use dynamic imports and Parcel's automatic shared bundles.</div>
  </a>
  <a href="/features/dependency-resolution/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 md:from-violet-200 md:to-indigo-200 md:dark:from-violet-800 md:dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div class="font-bold text-lg">Resolution</div>
    </div>
    <div>How dependencies are resolved, url schemes, aliases, and more.</div>
  </a>
  <a href="/features/bundle-inlining/" class="card bg-gradient-to-r from-purple-200 to-violet-200 dark:from-purple-800 dark:to-violet-800 md:from-indigo-200 md:to-blue-200 md:dark:from-indigo-800 md:dark:to-blue-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
      <div class="font-bold text-lg">Bundle Inlining</div>
    </div>
    <div>How to inline the compiled contents of one bundle inside another.</div>
  </a>
  <a href="/features/targets/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
      </svg>
      <div class="font-bold text-lg">Targets</div>
    </div>
    <div>How to compile your source code for multiple targets.</div>
  </a>
  <a href="/features/production/" class="card bg-gradient-to-r from-purple-200 to-violet-200 dark:from-purple-800 dark:to-violet-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
      </svg>
      <div class="font-bold text-lg">Production</div>
    </div>
    <div>Minification, tree shaking, compression, content hashing, and more.</div>
  </a>
  <a href="/features/scope-hoisting/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 md:from-violet-200 md:to-indigo-200 md:dark:from-violet-800 md:dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
      </svg>
      <div class="font-bold text-lg">Scope hoisting</div>
    </div>
    <div>Dig into the details of how Parcel's tree shaking implementation works.</div>
  </a>
  <a href="/features/node-emulation/" class="card bg-gradient-to-r from-purple-200 to-violet-200 dark:from-purple-800 dark:to-violet-800 md:from-indigo-200 md:to-blue-200 md:dark:from-indigo-800 md:dark:to-blue-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
      </svg>
      <div class="font-bold text-lg">Node emulation</div>
    </div>
    <div>Using Node.js features like environment variables and builtin module polyfills.</div>
  </a>
  <a href="/features/cli/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
      <div class="font-bold text-lg">CLI</div>
    </div>
    <div>A reference for all of the options available in the Parcel CLI.</div>
  </a>
  <a href="/features/parcel-api/" class="card bg-gradient-to-r from-purple-200 to-violet-200 dark:from-purple-800 dark:to-violet-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
      <div class="font-bold text-lg">Parcel API</div>
    </div>
    <div>Run Parcel builds programmatically to integrate into any build.</div>
  </a>
  <a href="/features/plugins/" class="card bg-gradient-to-r from-fuchsia-200 to-purple-200 dark:from-fuchsia-800 dark:to-purple-800 md:from-violet-200 md:to-indigo-200 md:dark:from-violet-800 md:dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
      </svg>
      <div class="font-bold text-lg">Plugins</div>
    </div>
    <div>Overriding and extending Parcel's defaults using plugins.</div>
  </a>
</div>

<h2>Languages and Frameworks</h2>
<p>Learn how to use the most common languages and frameworks with Parcel. See the side navigation for even more.</p>
<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 max-w-5xl">
  <a href="/languages/html/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/html5.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">HTML</div>
    </div>
    <div>The entry of most Parcel apps. From here, you can reference scripts, styles, images, and more.</div>
  </a>
  <a href="/languages/javascript/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/javascript.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">JavaScript</div>
    </div>
    <div>Using ES modules and CommonJS, setting up transpilation, JSX, workers, and more.</div>
  </a>
  <a href="/languages/css/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/css.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">CSS</div>
    </div>
    <div>Using CSS with Parcel, including dependencies, CSS modules, PostCSS, and more.</div>
  </a>
  <a href="/languages/svg/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/svg.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">SVG</div>
    </div>
    <div>Referencing SVG from HTML, CSS, JavaScript, and JSX, including scripts and styles, and more.</div>
  </a>
  <a href="/languages/typescript/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/typescript.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">TypeScript</div>
    </div>
    <div>Using TypeScript with Parcel, including transpilation and generating typings.</div>
  </a>
  <a href="/recipes/image/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
      </svg>
      <div class="font-bold text-lg">Images</div>
    </div>
    <div>Resizing, converting, and optimizing images.</div>
  </a>
  <a href="/recipes/react/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/react.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">React</div>
    </div>
    <div>Using React with Parcel, including Fast Refresh, styling, images, code splitting, and more.</div>
  </a>
  <a href="/languages/vue/" class="card bg-gradient-to-br from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <img src="/assets/lang-icons/vue.svg" alt="" class="w-6" />
      <div class="font-bold text-lg">Vue</div>
    </div>
    <div>Using Vue 3 SFCs with Parcel.</div>
  </a>
</div>

<h2>Plugin System</h2>
<p>Learn how to customize and extend Parcel's defaults with your own plugins.</p>

<h3>Concepts</h3>
<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 max-w-5xl">
  <a href="/plugin-system/overview/" class="card bg-gradient-to-br sm:bg-gradient-to-r from-indigo-200 to-purple-200 dark:from-indigo-800 dark:to-purple-800 p-5 rounded-xl dark:text-white">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Plugin System</div>
    <div>An overview of Parcel's architecture and core data structures.</div>
  </a>
  <a href="/plugin-system/authoring-plugins/" class="card bg-gradient-to-br sm:bg-gradient-to-r from-purple-200 to-pink-200 dark:from-purple-800 dark:to-pink-800 p-5 rounded-xl dark:text-white">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Authoring Plugins</div>
    <div>An introduction to Parcel's Plugin APIs, and a guide to publishing a plugin package.</div>
  </a>
  <a href="/plugin-system/logging/" class="card bg-gradient-to-br sm:bg-gradient-to-r from-pink-200 to-rose-200 dark:from-pink-800 dark:to-rose-800 sm:from-indigo-200 sm:to-purple-200 sm:dark:from-indigo-800 sm:dark:to-purple-800 md:from-pink-200 md:to-rose-200 md:dark:from-pink-800 md:dark:to-rose-800 p-5 rounded-xl dark:text-white">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Diagnostics</div>
    <div>How to emit errors and logs using Parcel's unified diagnostics format.</p>
  </a>
  <a href="/plugin-system/source-maps/" class="card bg-gradient-to-br sm:bg-gradient-to-r from-rose-200 to-orange-200 dark:from-rose-800 dark:to-orange-800 sm:from-purple-200 sm:to-pink-200 sm:dark:from-purple-800 sm:dark:to-pink-800 md:from-rose-200 md:to-orange-200 md:dark:from-rose-800 md:dark:to-orange-800 p-5 rounded-xl dark:text-white">
    <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
    </svg>
    <div class="font-bold text-lg mt-4 mb-2">Source Maps</div>
    <div>How to work with Parcel's source maps library in your plugin.</div>
  </a>
</div>

<h3>Plugin Types</h3>
<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 max-w-5xl">
  <a href="/plugin-system/transformer/" class="card bg-gradient-to-r from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
      </svg>
      <div class="font-bold text-lg">Transformer</div>
    </div>
    <div>Compile individual source files and extract dependencies.</div>
  </a>
  <a href="/plugin-system/resolver/" class="card bg-gradient-to-r from-indigo-200 to-blue-200 dark:from-indigo-800 dark:to-blue-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div class="font-bold text-lg">Resolver</div>
    </div>
    <div>Resolve a dependency to a file path or virtual module.</div>
  </a>
  <a href="/plugin-system/namer/" class="card bg-gradient-to-r from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 md:from-blue-200 md:to-sky-200 md:dark:from-blue-800 md:dark:to-sky-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
      </svg>
      <div class="font-bold text-lg">Namer</div>
    </div>
    <div>Determine the name of an output file.</div>
  </a>
  <a href="/plugin-system/packager/" class="card bg-gradient-to-r from-indigo-200 to-blue-200 dark:from-indigo-800 dark:to-blue-800 md:from-sky-200 md:to-sky-200 md:dark:from-sky-800 md:dark:to-sky-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
      </svg>
      <div class="font-bold text-lg">Packager</div>
    </div>
    <div>Combine multiple assets together into a single output file.</div>
  </a>
  <a href="/plugin-system/optimizer/" class="card bg-gradient-to-r from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800  p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
      </svg>
      <div class="font-bold text-lg">Optimizer</div>
    </div>
    <div>Minify, optimize, and transform output files.</div>
  </a>
  <a href="/plugin-system/compressor/" class="card bg-gradient-to-r from-indigo-200 to-blue-200 dark:from-indigo-800 dark:to-blue-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
      </svg>
      <div class="font-bold text-lg">Compressor</div>
    </div>
    <div>Compress and encode output files in multiple formats.</div>
  </a>
  <a href="/plugin-system/reporter/" class="card bg-gradient-to-r from-purple-200 to-indigo-200 dark:from-purple-800 dark:to-indigo-800 md:from-blue-200 md:to-sky-200 md:dark:from-blue-800 md:dark:to-sky-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
      <div class="font-bold text-lg">Reporter</div>
    </div>
    <div>Receive events on build progress and completion.</div>
  </a>
  <a href="/plugin-system/configuration/" class="card bg-gradient-to-r from-indigo-200 to-blue-200 dark:from-indigo-800 dark:to-blue-800 md:from-sky-200 md:to-sky-200 md:dark:from-sky-800 md:dark:to-sky-800 p-5 rounded-xl dark:text-white">
    <div class="flex items-start gap-2 mb-2">
      <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
      </svg>
      <div class="font-bold text-lg">Configuration</div>
    </div>
    <div>Share Parcel configuration between projects.</div>
  </a>
</div>

<style>
  .docs-home li img {
    width: 1em;
  }

  .card {
    @apply transform hover:scale-105 hover:shadow-xl focus:scale-105 focus:shadow-xl transition outline-none;
  }
</style>
